html, body {
    margin: 0;
    padding: 0;
    z-index: -1;
}

#imageContainer {
    z-index: 10000;
    position: relative;
    width: 100vw;
    height: 80vh;
    margin-top: 10vh;
    display: inline-block;
    pointer-events: none;
    min-width: 1289px;
    min-height: 560px;
}

#imageContainer > img {
    pointer-events: none;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%
}

#gridContainer {
    min-height: 560px;
    min-width: 679px;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: rgb(150, 150, 150);
    border-radius: 5%;
    background: -webkit-linear-gradient(gray, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(gray, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(gray, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(gray, white); /* Standard syntax */
}

.grid {
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
}

.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

.black {
    background-color: #000;
}

#buttonContainer {
    position: absolute;
    top: 20px;
    left: 20px;
}

button {
    min-width: 90.219px;
    min-height: 28px;
    width: 7vw;
    margin-bottom: 20px;
    padding: 0;
    background-color: rgba(38, 55, 72, .7);
    border-radius: 5px;
    height: 4vh;
    border: none;
    font-size: 1.2em;
    display: block;
}

button:hover {
    background-color: rgba(24, 41, 58, .8);
}